<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Listy
    </ion-title>
    <ion-buttons slot="end">
      <div [routerLink]="['/create-list']" ion-button>  
        <ion-icon name="add" color="light"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Items
    </ion-list-header>
    <ion-item *ngFor="let item of listItem | async"  [routerLink]="['/edit-list/' + item.name]" detail-push>
      {{item.name}}
    </ion-item>
  </ion-list>
</ion-content>
